.banner {
    background-color: rgba(var(--hover-rgb), .1);
    display: flex;
    height: calc(100vh - 100px);
    position: relative;

    @media(max-width:1200px) {
        height: calc(100vh - 80px);
        padding: 0 20px;
    }

    &:after {
        content: none;
        background-color: rgba(#000, .7);
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        width: 100%;
        z-index: 1;

        @media(max-width:1200px) {
            content: '';
        }
    }

    &__txt {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        margin: auto;
        position: relative;
        max-width: 450px;
        width: 100%;
        z-index: 3;

        p {
            color: var(--primary-text);
            font-optical-sizing: auto;
            font-family: var(--font-outfit), sans-serif;
            font-size: 20px;
            margin-bottom: 20px;
            @media(max-width:1200px) {
                color: #fff;
            }
        }

        h1 {
            color: var(--primary);
            font-optical-sizing: auto;
            font-size: 48px;
            line-height: 1.2;
            margin-bottom: 40px;

            @media(max-width:1200px) {
                font-size: 36px;
            }
        }
    }

    img {
        display: block;
        object-fit: cover;
        // width: 50%;
        
        @media(max-width: 1200px) {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}
