.about {
    padding: 50px 0 0;
  
    &__info {
      display: flex;
      margin-bottom: 100px;
  
      &_img {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 50%;
  
        img {
          object-fit: contain;
        }
      }
  
      &_txt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px 90px;
        width: 50%;
  
        span {
          color: var(--terciary);
          font-family: var(--font-outfit), sans-serif;
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 15px;
          text-transform: uppercase;
        }
  
        h1 {
          color: var(--primary);
          font-size: 28px;
          line-height: 1.3;
          margin-bottom: 20px;
        }
  
        p {
          color: var(--primary-text);
          font-family: var(--font-outfit), sans-serif;
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
  
    &__clothes {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 100px 0;
  
      &:before{
        content: '';
        background-color: var(--terciary);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 50%;
      }
  
      &-img {
        display: flex;
        position: relative;
        width: 50%;
        z-index: 1;
        img {
          display: block;
          height: 
          500px;
          max-width: 100%;
          object-fit: cover;
          object-position: top;
          width: 290px;
  
          &:first-child{ 
            margin-right: 20px;
          }
        }
      }
  
      &-txt {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 30px;
        span, h2, p {
          display: inline-block;
        }
      }
    }
  }